Repository NuttyShrimp/dg-web-panel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build server image, build webui image

.gitlab-ci.yml:

stages:
  - test
  - build
  - publish

.go_setup:
  variables:
    GOPATH: "$CI_PROJECT_DIR/.cache"
    GOLANGCI_LINT_CACHE: $CI_PROJECT_DIR/.golangci-lint
  before_script:
    - cd server
    - mkdir -p .cache .golangci-lint
    - go mod vendor
    - cp config.template.yml config.yml
  cache:
    key: "$CI_COMMIT_REF_NAME-golang-cache"
    paths:
      - server/.cache/pkg/mod
      - server/.golangci-lint/

compile server:
  image: golang:latest
  stage: build
  extends:
    - .go_setup
  script:
    - mkdir -p builded-binaries
    - go build -o builded-binaries ./...
  artifacts:
    paths:
      - server/builded-binaries
        
lint:
  extends: 
    - .go_setup
  image: golangci/golangci-lint:v1.50-alpine
  stage: test
  script:
    - golangci-lint --version
    # Write the code coverage report to gl-code-quality-report.json
    # remove `--issues-exit-code 0` or set to non-zero to fail the job if linting issues are detected
    - golangci-lint run --out-format colored-line-number:stdout,code-climate:gl-code-quality-report.json
  artifacts:
    reports:
      codequality: server/gl-code-quality-report.json
    paths:
      - server/gl-code-quality-report.json

compile webui:
  stage: build
  image: node:16
  cache:
    key: '$CI_COMMIT_REF_NAME-node_modules'
    paths:
      - webui/node_modules
  before_script:
    - cd webui
    - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
    - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
    - npm config set always-auth true
    - yarn config set network-timeout 600000 -g
    - yarn --pure-lockfile
  script:
    - yarn build

build server image:
  stage: publish
  image: docker:latest
  services:
    - docker:dind
  only:
    refs:
        - master
    changes:
        - server/**/*
  script:
    - cd server
    - cp "$CONFIG_FILE" config.yml
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/server:latest -t $CI_REGISTRY_IMAGE/server:$CI_COMMIT_SHA .
    - docker push $CI_REGISTRY_IMAGE/server:latest
    - docker push $CI_REGISTRY_IMAGE/server:$CI_COMMIT_SHA

build webui image:
  stage: publish
  image: docker:latest
  services:
    - docker:dind
  only:
    refs:
        - master
    changes:
        - webui/**/*
  script:
    - cd webui 
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/webui:latest -t $CI_REGISTRY_IMAGE/webui:$CI_COMMIT_SHA .
    - docker push $CI_REGISTRY_IMAGE/webui:latest
    - docker push $CI_REGISTRY_IMAGE/webui:$CI_COMMIT_SHA

fix(actionMenu): pass ban length in days not seconds
  webui/src/components/Users/ActionMenu/modals.tsx
Due: build webui image

fix(steamId): does not have fixed size
  server/lib/utils/steamid.go
Due: build server image

feat(user): add points to userpage
  server/internal/cfx/players.go
  server/internal/db/models/cfx/admin.go
  server/internal/db/models/cfx/users.go
  webui/src/pages/staff/User.tsx
  webui/src/types/stores/cfx.d.ts
Due: build server image, build webui image

fix(banlist): only show ban penalties
  server/internal/cfx/penalties/penalties.go
Due: build server image

chore(cfx): update valCopy linting issue
  server/internal/cfx/players.go
Due: build server image

chore: add the golangci linter as linter in vscode settings
  .vscode/settings.json
Due: none

feat(reports): add endpoint calls to mark mesasges + moved addMessage logic under report struct
  server/internal/api/cfx.go
  server/internal/staff/reportmessages/messages.go
  server/internal/staff/reportmessages/room.go
  server/internal/staff/reportmessages/routes.go
  server/internal/staff/reports/report.go
  server/internal/staff/reports/reports.go
  server/internal/staff/reports/routes.go
  server/internal/staff/routes.go
  server/internal/users/info.go
  server/models/cfx.go
Due: build server image

fix(ui): fixed crybaby prettier
  webui/src/types/stores/cfx.d.ts
Due: build webui image

fix(actionMenu): set right endpoint for kick penalty
  webui/src/components/Users/ActionMenu/modals.tsx
Due: build webui image

chore(webui): move eol of files to lf
  webui/.eslintrc
  webui/.prettierrc
  webui/package.json
Due: build webui image

feat(ui): add reason selector for penalties
  webui/src/components/Inputs/PenaltyReasonSelector.tsx
  webui/src/components/Users/ActionMenu/modals.tsx
  webui/src/data/PenaltyReasons.ts
Due: build webui image

feat(staff): add logs page with query builder
  .vscode/settings.json
  server/internal/admin/routes.go
  server/internal/staff/logs.go
  server/internal/staff/routes.go
  webui/.eslintrc
  webui/.prettierrc
  webui/src/components/List/index.tsx
  webui/src/components/List/style.scss
  webui/src/components/Logs/LogList.tsx
  webui/src/components/Logs/LogList/index.tsx
  webui/src/components/Logs/LogList/style.scss
  webui/src/components/Logs/QueryMenu/actions.ts
  webui/src/components/Logs/QueryMenu/index.tsx
  webui/src/components/Modals/InputsModal/index.tsx
  webui/src/components/Modals/InputsModal/style.scss
  webui/src/components/Users/Select/index.tsx
  webui/src/helpers/util.ts
  webui/src/pages/dev/PanelLogs.tsx
  webui/src/pages/routes.tsx
  webui/src/pages/staff/LogList.tsx
  webui/src/pages/staff/Report.tsx
  webui/src/stores/logs/state.ts
  webui/src/stores/logs/useLogsActions.tsx
  webui/src/types/stores/logs.d.ts
Due: build server image, build webui image

chore: lint and format files
  webui/src/components/List/style.scss
  webui/src/components/Logs/LogList/style.scss
  webui/src/components/Modals/InputsModal/style.scss
  webui/src/helpers/util.ts
Due: build webui image

fix(querybuilder): wrap logtypes in brackets when adding input values
  webui/src/components/Logs/QueryMenu/index.tsx
Due: build webui image

fix(business): changed type id to type name
  server/internal/cfx/business/routes.go
  webui/src/components/Business/modals/createBusiness.tsx
Due: build server image, build webui image

fix(business): fix typeName in createBusiness body
  server/internal/cfx/business/routes.go
Due: build server image

chore: remove graylog panic when not available on-startup
  server/cmds/panel/main.go
Due: build server image

fix(ws): fix edge-cases for WS errors
  server/internal/staff/reportmessages/client.go
Due: build server image

fix(reports): prevent the IG screen freezing for admins when sending a message
  server/internal/auth/authinfo/authinfo.go
  server/internal/auth/routes.go
  server/internal/db/mariadb/repository.go
  server/internal/staff/reports/report.go
Due: build server image
