Repository NuttyShrimp/dg-web-panel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build server image, build webui image

.gitlab-ci.yml:

stages:
  - test
  - build
  - publish

.go_setup:
  variables:
    GOPATH: "$CI_PROJECT_DIR/.cache"
    GOLANGCI_LINT_CACHE: $CI_PROJECT_DIR/.golangci-lint
  before_script:
    - cd server
    - mkdir -p .cache .golangci-lint
    - go mod vendor
    - cp config.template.yml config.yml
  cache:
    key: "$CI_COMMIT_REF_NAME-golang-cache"
    paths:
      - server/.cache/pkg/mod
      - server/.golangci-lint/

compile server:
  image: golang:latest
  stage: build
  extends:
    - .go_setup
  script:
    - mkdir -p builded-binaries
    - go build -o builded-binaries ./...
  artifacts:
    paths:
      - server/builded-binaries
        
lint:
  extends: 
    - .go_setup
  image: golangci/golangci-lint:v1.50-alpine
  stage: test
  script:
    - golangci-lint --version
    # Write the code coverage report to gl-code-quality-report.json
    # remove `--issues-exit-code 0` or set to non-zero to fail the job if linting issues are detected
    - golangci-lint run --out-format colored-line-number:stdout,code-climate:gl-code-quality-report.json
  artifacts:
    reports:
      codequality: server/gl-code-quality-report.json
    paths:
      - server/gl-code-quality-report.json

compile webui:
  stage: build
  image: node:16
  cache:
    key: '$CI_COMMIT_REF_NAME-node_modules'
    paths:
      - webui/node_modules
  before_script:
    - cd webui
    - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
    - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
    - npm config set always-auth true
    - yarn config set network-timeout 600000 -g
    - yarn --pure-lockfile
  script:
    - yarn build

build server image:
  stage: publish
  image: docker:latest
  services:
    - docker:dind
  only:
    refs:
        - master
    changes:
        - server/**/*
  script:
    - cd server
    - cp "$CONFIG_FILE" config.yml
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/server:latest -t $CI_REGISTRY_IMAGE/server:$CI_COMMIT_SHA .
    - docker push $CI_REGISTRY_IMAGE/server:latest
    - docker push $CI_REGISTRY_IMAGE/server:$CI_COMMIT_SHA

build webui image:
  stage: publish
  image: docker:latest
  services:
    - docker:dind
  only:
    refs:
        - master
    changes:
        - webui/**/*
  script:
    - cd webui 
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/webui:latest -t $CI_REGISTRY_IMAGE/webui:$CI_COMMIT_SHA .
    - docker push $CI_REGISTRY_IMAGE/webui:latest
    - docker push $CI_REGISTRY_IMAGE/webui:$CI_COMMIT_SHA

style(reports): align status-indicator with title
  webui/src/pages/staff/components/ReportList/styles.scss
Due: build webui image

refactor(reports): remove tags
  server/internal/db/mariadb/mariadb.go
  server/internal/db/models/panel/reports.go
  server/internal/staff/reports/reportTags.go
  server/internal/staff/reports/reports.go
  server/internal/staff/reports/routes.go
  webui/src/components/ReportTag/index.tsx
  webui/src/components/TagCreator/index.tsx
  webui/src/components/TagCreator/styles.scss
  webui/src/pages/staff/Report.tsx
  webui/src/pages/staff/ReportList.tsx
  webui/src/pages/staff/components/NewReportModal/index.tsx
  webui/src/pages/staff/components/ReportList/index.tsx
  webui/src/pages/staff/components/TagSelector/index.tsx
  webui/src/pages/staff/components/TagSelector/styles.scss
  webui/src/pages/staff/components/TagsPopup/index.tsx
  webui/src/pages/staff/components/TagsPopup/styles.scss
  webui/src/stores/reports/state.ts
  webui/src/stores/reports/useReportActions.ts
  webui/src/types/stores/reports.d.ts
Due: build server image, build webui image

refactor: discord -> discordId + search on discordId in user select component
  server/internal/cfx/players.go
  server/internal/db/models/cfx/users.go
  webui/src/components/Users/Select/index.tsx
  webui/src/pages/staff/User.tsx
  webui/src/types/stores/cfx.d.ts
Due: build server image, build webui image

chore: tidy go mods
  server/go.mod
  server/go.sum
Due: build server image

chore: fmted files
  server/internal/db/models/cfx/users.go
  server/internal/db/models/panel/reports.go
  server/internal/staff/reports/routes.go
Due: build server image

feat: add pre-commit for fmt hook
  .pre-commit-config.yaml
  README.md
Due: none

fix(pre-commit): specify linter to run in server folder
  .pre-commit-config.yaml
Due: none

chore: remove cash entry bcs its moved to metadata
  server/internal/db/models/cfx/characters.go
  webui/src/components/Characters/Info/index.tsx
  webui/src/types/stores/cfx.d.ts
  webui/src/types/stores/character.d.ts
Due: build server image, build webui image

feat(dashboard): add more queue info
  server/internal/staff/dashboard.go
  webui/src/pages/staff/Dashboard.tsx
  webui/src/types/pages/staff.d.ts
Due: build server image, build webui image

chore: add some missing logs
  server/internal/cfx/business/routes.go
  server/internal/cfx/players.go
  server/internal/cfx/vehicles/routes.go
  server/internal/users/info.go
  server/models/users.go
Due: build server image

fix: pre-commit check for all server files
  .pre-commit-config.yaml
Due: none

fix(pre-commit): add root mod bcs golangci-lint being a lil bitch
  .pre-commit-config.yaml
  go.mod
  go.work
  main.go
Due: none

feat(characters): add updateBalance btn for bank accounts
  go.work
  server/internal/api/main.go
  server/internal/cfx/bank/bank.go
  server/internal/cfx/bank/routes.go
  server/internal/db/models/cfx/bankAccount.go
  webui/src/components/Characters/Bank/index.tsx
  webui/src/components/Characters/Bank/modals/changeBalanceModal.tsx
  webui/src/types/stores/character.d.ts
Due: build server image, build webui image

chore: remove pre-commit because piece of garbage not working with subfolders
  .pre-commit-config.yaml
  go.mod
  main.go
Due: none

chore: formatted files
  server/internal/cfx/bank/bank.go
  server/internal/cfx/bank/routes.go
Due: build server image

fix(reports): ignore empty report messages
  .gitlab-ci.yml
  server/internal/staff/reportmessages/room.go
  server/internal/staff/reportmessages/routes.go
Due: build server image

fix(ci): fix deploy garbage
  .gitlab-ci.yml
Due: none

fix(reportRooms): make server not crash when WS data is nil
  server/internal/staff/reportmessages/room.go
Due: build server image

refactor(selects): move User & Character select to AutoComplete
  webui/src/components/Characters/Select/index.tsx
  webui/src/components/Users/Select/index.tsx
Due: build webui image

chore: fix linting issues
  server/.golangci.yml
  server/internal/staff/reportmessages/room.go
Due: build server image
