Repository NuttyShrimp/dg-web-panel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile server, compile webui, build server image, build webui image

compile server:
  variables:
    GOPATH: $CI_PROJECT_DIR/.cache
    GOLANGCI_LINT_CACHE: $CI_PROJECT_DIR/.golangci-lint
  before_script:
  - cd server
  - mkdir -p .cache .golangci-lint
  - go mod vendor
  - cp config.template.yml config.yml
  cache:
    key: $CI_COMMIT_REF_NAME-golang-cache
    paths:
    - server/.cache/pkg/mod
  ...

compile webui:
  stage: build
  image: node:16
  cache:
    key: $CI_COMMIT_REF_NAME-node_modules
    paths:
    - webui/node_modules
  before_script:
  - cd webui
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  ...

build server image:
  stage: publish
  image: docker:latest
  services:
  - docker:dind
  script:
  - cd server
  - cp "$CONFIG_FILE" config.yml
  - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/server:latest -t $CI_REGISTRY_IMAGE/server:$CI_COMMIT_SHA .
  ...

build webui image:
  stage: publish
  image: docker:latest
  services:
  - docker:dind
  script:
  - cd webui
  - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/webui:latest -t $CI_REGISTRY_IMAGE/webui:$CI_COMMIT_SHA .
  - docker push $CI_REGISTRY_IMAGE/webui:latest
  ...

feat: add air for auto-restart
  .gitignore
  server/.air.toml
  server/Makefile
Due: compile server, build server image

fix(modals): check if the reasons is empty
  webui/src/components/Users/ActionMenu/modals.tsx
Due: compile webui, build webui image

fix(reports): actually update UpdatedAt field on new message
  server/internal/staff/reports/report.go
Due: compile server, build server image

fix(ui/characters): reload bank page on cid update
  webui/src/components/Characters/Bank/index.tsx
Due: compile webui, build webui image

fix(ui/users): clamp amount of results + store options via memo
  webui/src/components/Users/Select/index.tsx
  webui/src/components/ui/Autocomplete.tsx
Due: compile webui, build webui image

chore: bump packages
  server/Dockerfile
  server/go.mod
  server/go.sum
Due: compile server, build server image

fix(ci): bump images used in jobs
  .gitlab-ci.yml
Due: none

fix: remove duplicates from cache?
  server/internal/cfx/players.go
  server/internal/db/models/cfx/users.go
Due: compile server, build server image

refactor: report issues go brrr
  server/cmds/panel/main.go
  server/cmds/router/main.go
  server/internal/auth/routes.go
  server/internal/staff/reports/reports.go
  server/internal/state/routes.go
  server/internal/storage/cookies.go
Due: compile server, build server image

Path conditions:
  compile server: any of: server/**/*
  compile webui: any of: webui/**/*
  build server image: any of: server/**/*
  build webui image: any of: webui/**/*
