Repository NuttyShrimp/dg-web-panel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build server image, build webui image

build server image:
  stage: publish
  image: docker:latest
  services:
  - docker:dind
  script:
  - cd server
  - cp "$CONFIG_FILE" config.yml
  - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/server:latest -t $CI_REGISTRY_IMAGE/server:$CI_COMMIT_SHA .
  ...

build webui image:
  stage: publish
  image: docker:latest
  services:
  - docker:dind
  script:
  - cd server
  - cp "$CONFIG_FILE" config.yml
  - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/webui:latest -t $CI_REGISTRY_IMAGE/webui:$CI_COMMIT_SHA .
  ...

fix: do not convert uint to uint
  server/internal/auth/cfxauth/cfxauth.go
  server/internal/state/state.go
Due: build server image

fix(docker): use right images
  docker-compose.yml
Due: none

chore: remove mariadb in prod + fix port
  docker-compose.yml
  webui/src/components/Characters/ActiveList.tsx
Due: build webui image

fix(ci): cd in webui for webui image
  .gitlab-ci.yml
Due: none

fix(ci): also add ui compile
  .gitlab-ci.yml
Due: none

fix(webui): make eslint not quiet
  webui/package.json
Due: build webui image

fix(ci): gone crazy
  webui/src/components/Characters/ActiveList.tsx
Due: build webui image

fix(ci): only run when changes are done
  .gitlab-ci.yml
Due: none

fix(docker): refactor webui file
  docker-compose.yml
  webui/Dockerfile
  webui/config/nginx.conf
Due: build webui image

feat(cookies): ability to define cookie host seperate van host IP
  server/config.template.yml
  server/internal/config/config.go
  server/internal/storage/cookies.go
Due: build server image

fix(utils): fix protocol check
  webui/src/pages/staff/Report.tsx
Due: build webui image

feat(reports): add WS state to loader
  webui/src/pages/staff/Report.tsx
Due: build webui image

chore(docker): update backend docker
  server/Dockerfile
Due: build server image

fix(server/logs): fixed scuffed sentry logs
  server/cmds/panel/main.go
  server/go.mod
  server/go.sum
  server/lib/log/logger.go
  server/lib/tests/env.go
Due: build server image

fix: linting errors residentsleeper
  server/cmds/panel/main.go
  server/lib/log/logger.go
Due: build server image

fix(docker): dumb and dumber
  server/Dockerfile
Due: build server image

fix(docker): force define subnet
  docker-compose.yml
Due: none

fix(nginx): config supports WS
  server/cmds/router/main.go
  webui/config/nginx.conf
Due: build server image, build webui image

fix(reports): add error to errormsg + bind json
  server/internal/staff/reportmessages/room.go
  server/internal/staff/reportmessages/routes.go
Due: build server image

refactor(api): set initial body instead of rewriting
  server/internal/api/cfx.go
  server/internal/api/graylog.go
  server/internal/api/main.go
Due: build server image

Path conditions:
  build server image: any of: server/**/*
  build webui image: any of: webui/**/*
