Repository NuttyShrimp/dg-web-panel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build server image, build webui image

.gitlab-ci.yml:

stages:
  - test
  - build
  - publish

.go_setup:
  variables:
    GOPATH: "$CI_PROJECT_DIR/.cache"
    GOLANGCI_LINT_CACHE: $CI_PROJECT_DIR/.golangci-lint
  before_script:
    - cd server
    - mkdir -p .cache .golangci-lint
    - go mod vendor
    - cp config.template.yml config.yml
  cache:
    key: "$CI_COMMIT_REF_NAME-golang-cache"
    paths:
      - server/.cache/pkg/mod
      - server/.golangci-lint/

compile server:
  image: golang:latest
  stage: build
  extends:
    - .go_setup
  script:
    - mkdir -p builded-binaries
    - go build -o builded-binaries ./...
  artifacts:
    paths:
      - server/builded-binaries
        
lint:
  extends: 
    - .go_setup
  image: golangci/golangci-lint:v1.50-alpine
  stage: test
  script:
    - golangci-lint --version
    # Write the code coverage report to gl-code-quality-report.json
    # remove `--issues-exit-code 0` or set to non-zero to fail the job if linting issues are detected
    - golangci-lint run --out-format colored-line-number:stdout,code-climate:gl-code-quality-report.json
  artifacts:
    reports:
      codequality: server/gl-code-quality-report.json
    paths:
      - server/gl-code-quality-report.json

compile webui:
  stage: build
  image: node:16
  cache:
    key: '$CI_COMMIT_REF_NAME-node_modules'
    paths:
      - webui/node_modules
  before_script:
    - cd webui
    - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
    - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
    - npm config set always-auth true
    - yarn config set network-timeout 600000 -g
    - yarn --pure-lockfile
  script:
    - yarn build

build server image:
  stage: publish
  image: docker:latest
  services:
    - docker:dind
  only:
    refs:
        - master
    changes:
        - server/**/*
  script:
    - cd server
    - cp "$CONFIG_FILE" config.yml
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/server:latest -t $CI_REGISTRY_IMAGE/server:$CI_COMMIT_SHA .
    - docker push $CI_REGISTRY_IMAGE/server:latest
    - docker push $CI_REGISTRY_IMAGE/server:$CI_COMMIT_SHA

build webui image:
  stage: publish
  image: docker:latest
  services:
    - docker:dind
  only:
    refs:
        - master
    changes:
        - webui/**/*
  script:
    - cd webui 
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/webui:latest -t $CI_REGISTRY_IMAGE/webui:$CI_COMMIT_SHA .
    - docker push $CI_REGISTRY_IMAGE/webui:latest
    - docker push $CI_REGISTRY_IMAGE/webui:$CI_COMMIT_SHA

feat(dev): add some special dev actions
  server/internal/cfx/business/routes.go
  server/internal/cfx/vehicles/routes.go
  server/internal/staff/reportmessages/routes.go
  webui/src/components/Business/modals/createBusiness.tsx
  webui/src/components/Vehicles/modals/createvehicle.tsx
  webui/src/pages/dev/Actions.tsx
  webui/src/pages/routes.tsx
Due: build server image, build webui image

fix(reports): do not show all reports to everyone
  server/config.template.yml
  server/internal/staff/reports/reports.go
Due: build server image

refactor(api): revisit API input adding changes
  server/internal/api/cfx.go
  server/internal/api/graylog.go
  server/internal/api/main.go
Due: build server image

feat(staff): add banlist + ban actions
  server/internal/cfx/penalties/penalties.go
  server/internal/cfx/players/routes.go
  server/internal/staff/routes.go
  webui/src/components/Bans/UnbanActionMenu.tsx
  webui/src/components/Bans/modals/EditPenalty.tsx
  webui/src/lib/actions/bans.ts
  webui/src/lib/actions/basicReq.ts
  webui/src/pages/routes.tsx
  webui/src/pages/staff/BanList.tsx
Due: build server image, build webui image

feat(updates): add scheduled update component
  server/internal/state/routes.go
  webui/src/components/UpdateAnnouncer/index.tsx
  webui/src/main.providers.tsx
Due: build server image, build webui image

fix(webui): fixed linting errors for build
  webui/src/lib/actions/bans.ts
Due: build webui image

fix(logs): also add error to error logger
  server/lib/graylogger/graylogger.go
Due: build server image

fix(staff): unlock cache after 20 secs if functions do not return
  server/internal/cfx/cache.go
  server/internal/staff/routes.go
Due: build server image

feat(ci): add automated deployment
  .gitlab-ci.yml
  deploy/schedule-update.sh
  server/internal/state/routes.go
Due: build server image

fix(ci): use ubuntu image instead of scuffed alpine
  .gitlab-ci.yml
  .vscode/settings.json
Due: none

fix(users): add discordId to user page
  webui/src/pages/staff/User.tsx
Due: build webui image

fix(users): swapped id names
  webui/src/pages/staff/User.tsx
Due: build webui image

fix(reports): export no status close message
  server/internal/staff/reportmessages/client.go
Due: build server image

fix(ws): do not error when trying to close closed connection
  server/internal/staff/reportmessages/client.go
Due: build server image

fix(penalties): fixed panel log
  server/internal/cfx/penalties/penalties.go
Due: build server image

feat(reports): add close button
  server/internal/staff/reportmessages/room.go
  server/internal/staff/reports/report.go
  webui/src/pages/staff/Report.tsx
Due: build server image, build webui image

fix(banlist): fixed wrong link in banlist
  webui/src/pages/staff/BanList.tsx
Due: build webui image

fix(penalties): fix api endpoints
  server/internal/cfx/penalties/penalties.go
  server/internal/cfx/players/routes.go
  webui/src/components/Users/ActionMenu/modals.tsx
Due: build server image, build webui image

style(reports): add width style to report messages stack
  webui/src/pages/staff/Report.tsx
Due: build webui image

fix(userActions): also pass reason in request
  webui/src/components/Users/ActionMenu/modals.tsx
Due: build webui image
